.mainContainer {
    width: 100vw;
    min-height: 100vh;
}
.box {
    margin: 2em;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    .mainFormContainer {
        margin: 3em;
        border-left: 1em solid #ff600b;
        padding: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        background: #fffaf9;
        background: linear-gradient(159deg,rgba(255,250,249,.3477766106442577),hsla(0,0%,80.8%,.31) 35%,hsla(0,0%,100%,.3169642857142857));
    }
    .main_title {
        width: auto;
        background-color: #333;
        color: white;
        position: relative;
        overflow: hidden;
    }
    .main_title h1 {
        padding-left: 20px;
        margin: 15px;
    }
    .fancy_line {
        position: absolute;
        width: 20px;
        height: 200px;
        transform: rotate(35deg);
        background-color: #ff600b;
        right: 5%;
        top: -75%;
    }
    .formContainer label {
        padding-bottom: 15px;
        font-size: 16px;
        color: #2c3e50;
        font-family: Avenir;
    }
    .formContainer input,
    .formContainer select{
    width: 75%;
    margin: 0 auto;
    border: none;
    height: 25px;
    padding-left: 5px;
    }
    .formContainer {
        display: flex;
        flex-flow: column;
        max-width: calc(100% / 3);
        flex: 1 1 30%;
        text-align: center;
        margin-bottom: 30px;
    }
   
    .button_container {
        width: 100%;
        height: 40px;
        display: flex;
    }
    .button_container button {
        width: calc(100% / 2);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        transition: 0.5s;
        position: relative;
    }
    .button_container button:hover {
    font-size: 1.09rem;
    filter: brightness(75%);
    }
    .button_container button:nth-child(1) {
        background-color: #91d891;
    }

    .button_container button:nth-child(2) {
        background-color: #ffaeae;
    }
    .formContainerCheckBox {
        display: flex;
        margin-left: 60px;
        margin-bottom: 50px;
        align-items: center;
    }
    .formContainerCheckBox input {
        margin-left: 20px;
        width: 20px;
        height: 20px;
        margin-top: -1px;
    }
    .filterContainer {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .filter {
        margin-top: 28px;
        margin-right: 35px;
        width: 190px;
        height: 80%;
        background-color: black;
        border-radius: 30px;
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
        padding-right: 5px;
    }
    .filter_spend {
        padding-left: 20px !important;
        padding: 5px 10px;
        padding-top: 7px;
    }
    .filter_spend_active {
        
        margin-left: 10px;
        color: #ff600b;
        /* border-radius: 30px; */
        padding: 5px 10px;
        padding-top: 7px;
        /* color: black;
        display: flex;
        text-align: center; */
    }
    .filter_contribution {
        padding-right: 10px;
        padding: 5px 10px;
        padding-top: 7px;
    }
    .filter_contribution_active {
        /* padding-right: 10px; */
        color: #ff600b;
        padding-right: 10px;
        padding: 5px 10px;
        padding-top: 7px;
        /* border-radius: 30px;
        padding: 5px 10px;
        padding-top: 7px;
        color: black;
        display: flex;
        text-align: center; */
    }
    
    .box_search{
        position: relative;
        margin-top: 29px;
    margin-right: 20px;
      }
      
      .input {
        padding: 10px;
        width: 30px;
        height: 30px;
        background: none;
              color: #ff600b;
              border: 4px solid ;
        border-radius: 50px;
        box-sizing: border-box;
        font-family: Avenir;
        font-size: 18px;
              color: #ff600b;
        outline: none;
        transition: .5s;
      }
      .box_search:hover input{
        width: 200px;
        background: #3b3640;
        border-radius: 10px;
      }
      .box_search i{
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translate(-50%,-50%);
        font-size: 26px;
        color: #ffd52d;
        transition: .2s;
      }
      .box_search:hover i{
        opacity: 0;
        z-index: -1;
      }